<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="win.zwping.code">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:networkSecurityConfig="@xml/network_config"
        >

        <provider
            android:name="win.zwping.code.Util$FileProvider4PSeries"
            android:authorities="${applicationId}.pseries.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:multiprocess="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/p_provider_paths" />
        </provider>
    </application>
</manifest>